
// Variables
$font-color: #888;
$link-color: #aaa;
$hover-color: #94C92E;
$bg-color: #000;

// Mixins
// @mixin box-shadow($color: #000, $horiz-offset: 0, $vert-offset: 0, $blur: 5px, $spread: 0, $inset: outset) {
//     -khtml-box-shadow: $horiz-offset $vert-offset $blur $spread $color $inset;
//     -moz-box-shadow: $horiz-offset $vert-offset $blur $spread $color $inset;
//     -ms-box-shadow: $horiz-offset $vert-offset $blur $spread $color $inset;
//     -o-box-shadow: $horiz-offset $vert-offset $blur $spread $color $inset;
//     -webkit-box-shadow: $horiz-offset $vert-offset $blur $spread $color $inset;
//     box-shadow: $horiz-offset $vert-offset $blur $spread $color $inset;
// }

// Imports
@import 'reset';
@import '_jquery.flickr_gallery';

// Site styles

body {
    background: $bg-color url('../img/page-bg.png');
    color: $font-color;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

a {
    color: $link-color;
    font-weight: bold;
    
    &:hover {
        color: $hover-color;
        text-decoration: none;
    }
}

h1 {
    color: #eee;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin: 20px 0 15px 0;
}

p {
    line-height: 1.5em;
    margin: 1em 0;
}

#container {
    margin: 30px auto;
    text-align: left;
    width: 640px;
    
    #header {
        a {
            background: url('../img/logo.png') no-repeat;
            float: left;
            height: 100px;
            width: 350px;

            h1, h2 {
                display: none;
            }
        }    
    }
    
    #menu {

        ul {
            float: right;
            list-style: none;
            margin: 30px 0 0 0;
            padding: 0;

            li {
                float: left;
                list-style: none;
                margin: 0;
                padding: 0;
        
                a {
                    color: #999;
                    display: block;
                    float: left;
                    font-size: 18px;
                    // font-weight: bold;
                    margin: 0;
                    padding: .4em 1.2em;
                    text-decoration: none;
                }
                
                a.active {
                    border-bottom: 3px solid #eee;
                    color: #eee;
                }
                
                a:hover {
                    color: #eee;
                }
            }
        
            
        }
        
        &:after {
            clear: both;
            content: '&nbsp;';
            display: block;
            font-size: 0;
            line-height: 0;
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
    
    #content {
        margin: 20px 0;
        padding: 20px 0;
        
        // About page
        .about & {
            background: lighten($bg-color, 15%);
            padding: 20px 40px;
            
            h1 {
                margin-top: 5px;
            }
        }
    }

    #footer {
        clear: both;
        color: #5D5D5D;
        font-size: 14px;
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
    }
}

